@import "tailwindcss";


/* globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Add these two lines */
  --font-montserrat: var(--font-montserrat);
  --font-bebas: var(--font-bebas-neue);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-montserrat);

}


/* globals.css */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to   { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.35s ease forwards;
}

@media (max-width: 640px) {
  section + section {
    margin-top: 40px;
  }
}